@font-face {
    font-family: "clash";
    src: url('Clash-Royale-Font/You Blockhead.ttf');
}

body{
    font-family: "clash";
    font-size: x-small;
    color: white;
    background-image: url("../images/backdrop.png");
}

#container{
    display: flex;
    padding-left: 60vh;
    padding-right: 60vh;
    margin-right: 0px;
    margin-left: 0px;
    height: 100vh;
}

#left{
    flex: 1;
    background-color: #767860;
    width: 25%;
    height: 100%;
    border-right: solid black 2px;
    border-left: solid black 4px;
}

#right{
    flex: 5;
    height: 100%;
    display: flex;
    flex-flow: column;
    border-right: solid black 4px;
}

#right-container{
    display: contents;
}

#title{
    flex: 0 1 auto;
    background-color: #454541;
}

area{
    cursor: pointer;
}

#topbar{
    width: 100%;
}

#textarea{
    flex: 1 1 auto;
}

#inputarea{
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid black 2px;
    background-image: linear-gradient(
    #787760,
    #767860
    );
}
.inputbox{
    height: 30px;
    width: 100%;
}
.left-container{
    margin: 40px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
    text-decoration: solid;
}

#createbutton{
    padding: 20px;
    background-color: lightblue;
    cursor: pointer;
}

#textarea{
    text-align: center;
    background-color: #454541;
}

textarea{
    resize: none;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
}

.messagebox{
    width: 100%;
    margin: 25px;
}

#submit{
    cursor: pointer;
    width: 80px;
    height: 50px;
}